@use "./src/styles/basic" as *;
@use "./src/styles/mixins" as *;
@use "./src/styles/colors" as *;


.entry{

  width:100%;
  height:100vh;

  background-image: url(../../assets/images/first-page-bg.svg);
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  
  color:$color-primary;

  &__planet{
      width:15em;
      height:15rem;
   }

   &__star{
      width:15em;
      height:15rem;
   }

    &__logo{
      font-family: gooddog-new, sans-serif;
      font-weight: 400;
      font-style: normal;
      width:100%;
      max-width:15rem; 
    }


    &__tag{
      font-size: 1.3rem;
      font-weight: 600;
    }

    &__explore{
      font-size: 1.3rem;
      font-weight: 600;
      margin-top: 3rem;

      padding:0.8rem 4rem;
      outline:0;
      border:2px solid $color-primary;
      background-color: $color-button;
  
      &:hover{
          background-color: $color-hover;
        }
      

    }
}

@include medium{
  .entry{
    background-position:0;

   &__planet{
      width:25em;
      height:25rem;  
   }

    &__star{
      width: 20rem;
      height:20rem;
    }

    &__logo{
        width:100%;
        max-width:25rem; 
    }

    &__tag{
      font-size: 1.8rem;
      font-weight: 600;
      padding-top: 2rem;
    }

    &__explore{
      font-size: 1.8rem;
      font-weight: 600;
      margin-top: 5rem;

      padding:1rem 6rem;
  }
}

}

@include large{
  .entry{

  &__wrapper{
  padding-top: 3rem;
  }

  &__logo{
        width:100%;
        max-width:35rem; 
  }

  &__tag{
    font-size: 2.25rem;
  }

  &__planet{
      margin-right: 20rem;
  }

  &__star{ 
      margin-left: 20rem;
  }

  &__explore{
    font-size: 2.25rem;
  }
}

}