@use "./src/styles/basic" as *;
@use "./src/styles/mixins" as *;
@use "./src/styles/colors" as *;

.home{

  width:100%;
  height:100vh;
  background-image: url(../../assets/images/first-page-bg.svg);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: bottom;

  &__star{
    width:15em;
    height:15rem;
    position: relative;
 
     
  }

  &__major{
    max-width:1280px;
    margin:0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__half{
    @include flex(row, space-between, center);
  }

  &__left{
    flex-basis: 50%;
  }
  
  &__joke{
    font-size: 1.6rem;
    font-weight: 600;
    flex-basis: 50%;
  }

  ul{
    margin:0;
    margin-top: 2rem;
    padding:0;
     @include flex(column,flex-start,flex-start);
  }

  &__row-wrap{
  @include flex(row,space-between,flex-start);

  }

  &__back-btn{
    all:unset;
    margin-top: 2rem;
  }

  &__back-img{
  width:3rem;
  height:3rem;
  transition: all 0.3s ease-in-out;

  &:hover{
    path{
      fill:$color-hover;
    }

  }
}

  &__li {
  max-width:25rem;
  text-align: center;
  background: #DFF250;
  color: #000;
  padding: 0.4rem 2rem;
  border: 2px solid #000;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
      
  &--z{
      position:relative;
      top:-32px;
      left:-4px;
  }

          &--z:hover{
          position:relative;
          top:-27px;
          left:0px;
          background-color: $color-hover;
        } 
}

&__joke-wrap{
  @include flex(column,flex-start,flex-start);
}

&__btn-wrap{
@include flex(column,center,flex-start);
}

  &__btn {
  max-width:25rem;
  text-align: center;
  background: $color-accent;
  color: #000;
  padding: 0.4rem 2rem;
  border: 2px solid #000;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
      
    &--y{
      position:relative;
      top:-32px;
      left:-4px;
  }

          &--y:hover{
          position:relative;
          top:-27px;
          left:0px;
          background-color: $color-hover;
        }
  
}


  &__top{
    margin:0 auto;
    max-width: 80%;
  }

   &__bg{
    width:100%;

   }
}

@include medium{
  .home{
    ul{
        @include flex(row,flex-start, center);
      }

  &__major{
    padding-left: 2rem;
    padding-right: 2rem;
  }

   &__back-img{
    width:3.5rem;
    height:3.5rem;
   }

  &__li {
  max-width:25rem;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  margin:0.5rem;
      
  &--z{
      position:relative;
      top:-50px;
      left:-4px;
  }

          &--z:hover{
          position:relative;
          top:-45px;
          left:0px;
          background-color: $color-hover;
        }
}


&__joke-wrap{
  @include flex(row,flex-start,center);
  position: relative;
  top:-4rem;
}

  &__btn {
  max-width:25rem;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  margin:0.5rem;
      
  &--y{
      position:relative;
      top:-55px;
      left:-4px;
  }

          &--y:hover{
          position:relative;
          top:-50px;
          left:0px;
          background-color: $color-hover;
        }
}

 &__joke{
    font-size: 1.8rem;
  }

  }
}

@include large{
.home{

  &__major{
    padding-left: 4rem;
    padding-right: 4rem;
  }

    &__back-img{
  width:5rem;
  height:5rem;
    }

   &__li {
  max-width:40rem;
  padding: 1rem 3rem;
  border: 2px solid #000;
  font-size: 2.25rem;
  margin:1rem;
      
  &--z{
      position:relative;
      top:-68px;
      left:-6px;
  }

          &--z:hover{
          position:relative;
          top:-61px;
          left:0px;
          background-color: $color-hover;
        }
  }

  &__btn {
  max-width:40rem;
  padding: 1rem 3rem;
  border: 2px solid #000;
  font-size: 2.25rem;
  margin:1rem;
      
  &--y{
      position:relative;
      top:-78px;
      left:-6px;
  }

          &--y:hover{
          position:relative;
          top:-71px;
          left:0px;
          background-color: $color-hover;
        }
  }



   &__joke{
    font-size: 2.25rem;
  }
}
}