@use "./src/styles/basic" as *;
@use "./src/styles/mixins" as *;
@use "./src/styles/colors" as *;

.home{

  width:100%;
  height:100vh;
  background-image: url(../../assets/images/first-page-bg.svg);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: bottom;

  &__major{
    max-width:1280px;
    margin:0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__half{
    @include flex(row, space-between, center);
  }

  &__left{
    flex-basis: 50%;
  }
  
  &__joke{
    font-size: 1.6rem;
    font-weight: 600;
    flex-basis: 50%;
  }

  ul{
    margin:0;
    margin-top: 2rem;
    padding:0;
     @include flex(column,flex-start,flex-start);
  }

  &__li {
  max-width:25rem;
  text-align: center;
  background: #DFF250;
  color: #000;
  padding: 0.4rem 2rem;
  border: 2px solid #000;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
      
  &--z{
      position:relative;
      top:-32px;
      left:-4px;
  }

          &--z:hover{
          position:relative;
          top:-27px;
          left:0px;
          background-color: $color-hover;
        }
  
}

  &__top{
    margin:0 auto;
    max-width: 80%;
  }

   &__bg{
    width:100%;

   }
}

@include medium{
  .home{
      ul{
        @include flex(row,flex-start, center);
      }

  &__major{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__li {
  max-width:25rem;
  text-align: center;
  background: #DFF250;
  color: #000;
  padding: 1rem 2rem;
  border: 2px solid #000;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin:0.5rem;
      
  &--z{
      position:relative;
      top:-50px;
      left:-4px;
  }

          &--z:hover{
          position:relative;
          top:-45px;
          left:0px;
          background-color: $color-hover;
        }
  
}
  }
}

@include large{
.home{

  &__major{
    padding-left: 4rem;
    padding-right: 4rem;
    // width: 100%;
    // position: absolute;
    // top:43%;
    // right:50%;
    // transform: translate(50%,-50%);
  }
}
}