@use "./src/styles/basic" as *;
@use "./src/styles/mixins" as *;
@use "./src/styles/colors" as *;

.home{

 
  width:100%;
  height:100vh;
  background-image: url(../../assets/images/first-page-bg.svg);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: bottom;


  &__top{
    margin:0 auto;
    max-width: 80%;
    padding-bottom: 10rem;
  }

   &__bg{
    width:100%;

   }
}