@use "./src/styles/basic" as *;
@use "./src/styles/mixins" as *;
@use "./src/styles/colors" as *;

.profile{
  max-width: 1280px;
  margin:0 auto;

  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 9999;
  justify-content: flex-end;

    &__wrap{
    display: flex;

    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 3rem 4rem 0;
    }

    &__p{
        margin-left: 3rem;
        font-weight: 600;
    }

    &__btn{
        all:unset;
        margin-left: 3rem;
        font-weight: 600;
    }
}

@include medium{
    .profile{
        &__wrap{
        font-size: 1.8rem;
        }
    }
}

@include large{
    .profile{
        &__wrap{
        font-size: 2.25rem;
        }
    }
}