@use "./src/styles/basic" as *;
@use "./src/styles/mixins" as *;
@use "./src/styles/colors" as *;

.drum{
    margin:0 auto;
    background:url(../../assets/images/drum-bg.jpg) ;
    width:80%;
    height: 60%;
    background-size: cover;

    &__keys{
        @include flex(column,center,center);
        flex-wrap: wrap;
        height:90%;
        line-height: 1.5;
    }

    &__key{
        text-align: center;
        border: .2rem solid $color-primary;
        background: rgba(0,0,0,0.4);
        margin:1rem;
        padding:0.4rem 0.4rem;
        width:5rem;
        height:4rem;
        color:$color-secondary;
         font-weight: 600;
        border-radius: 0.2rem;
        transition: all 0.07s;
    }

    &__sound{
        display:block;
        color:#F24495;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    &__playing{
        transform:scale(1.1);
        border-color:#F24495;
        box-shadow:0 0 10px grey;
    }
}