@use "../src/styles/basic" as *;
@use "../src/styles/mixins" as *;
@use "../src/styles/colors" as *;

.App{


background-color: #57B7F2;
background-image: linear-gradient(0deg, #57B7F2 0%, #ffffff 100%);

cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='58' viewport='0 0 100 100' style='fill:black;font-size:40px;'><text y='50%'>🤏</text></svg>")
      16 0,
    auto;
transition: 0.2s ease-in-out;

a, button, ul, li {
cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='58' viewport='0 0 100 100' style='fill:black;font-size:40px;'><text y='50%'>👆</text></svg>")
      16 0,
    auto;
}

&__filter{
  position: fixed;
  top:0;
  left:0;
  right:0;
  filter: grayscale(100%);
  background-color: rgba(0,0,0,0.8);
}

}