html,
body{
    margin:0;
    padding:0;
    font-family: ff-chambers-sans-web, sans-serif;
    font-size: 62.5%;
    box-sizing:border-box;
    width:100vw;
    height:100vh;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  font-weight: 400;
}

li {
  list-style: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
  color:#000000;
}

button{
font-family: ff-chambers-sans-web, sans-serif;
}

